.heroSection {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.heroInner {
  position: relative;
  height: 100vh;
  display: flex;
  padding: 40px 0;
  justify-content: end;
  align-items: start;
  text-align: start;
  flex-direction: column;
  z-index: 20;
  gap: 40px;
}

/* hero title */
.heroTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 50;
  text-transform: uppercase;
}

.heroTitle span:last-child {
  text-indent: 0.5em;
}

/* hero image */
.heroImage {
  max-width: 200px;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) brightness(70%) contrast(100%);
  object-fit: cover;
  object-position: center;
  z-index: 30;
  animation: circleRotate 20s linear infinite;
  inset: 0% auto auto 0%;
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.heroSocialFlex {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  z-index: 50;
  gap: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.socialFlex {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

/* social btn */
.socialBtn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
  line-height: 1;
  border-radius: 300px;
  width: var(--btn-size);
  font-size: 1.2rem;
  color: var(--white-text);
  z-index: 20;
  height: var(--btn-size);
  background: var(--black-bg);
  transition: all 0.2s ease;
}

/* hero sub heading */
.heroSubheading {
  position: relative;
  max-width: 500px;
  font-size: 1rem;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .heroInner {
    justify-content: center;
    gap: 60px;
    padding: 200px 0 0;
    height: auto;
  }

  .heroImage {
    max-width: 100px;
  }

  .heroTitle span:last-child {
    text-indent: 0.2em;
  }

  .heroSocialFlex {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    left: 0;
    width: 100%;
    gap: 40px;
  }

  .heroSubheading {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .heroInner {
    justify-content: center;
    gap: 60px;
    padding: 200px 0 0;
  }

  .heroImage {
    max-width: 150px;
  }

  .heroTitle span:last-child {
    text-indent: 0.2em;
  }

  .heroSocialFlex {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    left: 0;
    width: 100%;
    gap: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .heroImage {
    max-width: 140px;
  }

  .heroSocialFlex {
    right: 0;
  }

  .heroSubheading {
    max-width: 350px;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .heroImage {
    max-width: 160px;
  }

  .heroSubheading {
    max-width: 400px;
  }

  .heroSocialFlex {
    right: 40px;
  }

  .heroSocialFlex {
    top: 55%;
    transform: translateY(-45%);
  }
}
