.skillWrapper {
  min-height: 500vh;
  position: relative;
}

.skillSticky {
  position: sticky;
  top: 0;
  z-index: 50;
  height: 100vh;
  overflow: hidden;
}

.skillInner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  perspective: 1600px;
  transform-style: preserve-3d;
}
