.skillWrapper {
  min-height: 500vh;
  pointer-events: auto;
  display: block;
  position: relative;
  overflow: visible;
  opacity: 1;
}

.skillSticky {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.skillSection {
  max-width: 100%;
  width: 100%;
  min-height: auto;
}

.skillInner {
  max-width: 100%;
  width: 100%;
  display: flex;
  perspective: 1400px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  z-index: 30;
}
