.aboutSection {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: var(--section-space);
}

.aboutContent {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 30;
}

.aboutText {
  position: relative;
  z-index: 50;
  font-weight: 500;
  text-transform: uppercase;
  will-change: line-height, transform;
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .aboutContent {
    max-width: 900px;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .aboutContent {
    max-width: 1000px;
  }
}
