.aboutSection {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  padding: var(--section-space);
}

.aboutContent {
  position: relative;
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  z-index: 30;
  text-align: center;
  align-items: center;
}

.aboutImage {
  width: 300px;
  object-fit: cover;
  flex: none;
  object-position: top;
  height: 300px;
  border-radius: 300px;
  filter: grayscale(100%) brightness(70%) contrast(100%);
}

.aboutText {
  position: relative;
  z-index: 50;
  font-weight: 500;
  text-transform: uppercase;
  will-change: line-height, transform;
}

@media (max-width: 767.98px) {
  .aboutContent {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .aboutContent {
    max-width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .aboutContent {
    max-width: 850px;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .aboutContent {
    max-width: 1100px;
  }
}
