.workCard {
  position: relative;
  max-width: 100%;
  width: 100%;
  will-change: transform;
  transition: all 0.5s ease;
  z-index: 50;
}

.workCardImage {
  max-width: 100%;
  width: 100%;
  z-index: 50;
  position: relative;
  transition: all 0.5s ease;
}

.workCardImageArea {
  position: relative;
  overflow: hidden;
}

.workCard:hover .workCardImage {
  transform: scale(1.09, 1.09);
}

.workCardBottomFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.workCardText {
  text-transform: uppercase;
  font-weight: 500;
}

.workCardArrow {
  font-size: 1.6rem;
}

/* **********************  work card end*/

.skillCard {
  position: absolute;
  max-width: 440px;
  width: 100%;
  background: var(--black-bg);
  z-index: 50;
  color: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  text-align: center;
  padding: 40px;
  line-height: 1.1em;
  transform-style: preserve-3d;
  will-change: transform, opacity;

  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  transform-origin: center;
  overflow-wrap: break-word;
  text-transform: uppercase;
  backface-visibility: hidden;
  height: 440px;
}

@media (max-width: 767.98px) {
  .skillCard {
    height: 300px;
    max-width: 300px;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .skillCard {
    height: 350px;
    max-width: 350px;
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .skillCard {
    height: 380px;
    max-width: 380px;
    font-size: 3rem;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .skillCard {
    height: 400px;
    max-width: 400px;
  }
}
