.workCard {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: all 0.3s ease;
}

.workCardImageArea {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* work card image */
.workCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.workCard:hover .workCardImage {
  transform: scale(1.02, 1.02);
}

/* work card text */
.workCardBottomFlex {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 100;
  width: 100%;
  align-items: end;
  padding: 40px;
}

.workCardText {
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 5px 10px #0000000d;
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  line-height: 1;
  font-size: 1.2rem;
  background: var(--white-bg);
  color: var(--black-text);
}

/* **********************  work card end*/

.skillCard {
  position: absolute;
  max-width: 440px;
  width: 100%;
  background: var(--black-bg);
  z-index: 50;
  color: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  padding: 80px;
  line-height: 1.1em;
  transform-style: preserve-3d;
  will-change: transform, opacity;
  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
  transform-origin: center;
  overflow-wrap: break-word;
  text-transform: uppercase;
  backface-visibility: hidden;
  height: 440px;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .skillCard {
    height: 300px;
    max-width: 300px;
    font-size: 2rem;
  }

  .workCardBottomFlex {
    padding: 20px;
  }

  .workCardText {
    padding: 5px 10px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .skillCard {
    height: 350px;
    max-width: 350px;
    font-size: 2.5rem;
  }

  .workCardBottomFlex {
    padding: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .skillCard {
    height: 380px;
    max-width: 380px;
    font-size: 3rem;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  .skillCard {
    height: 400px;
    max-width: 400px;
  }
}
