.footerMain {
  background: #dadada;
  max-width: 100%;
  width: 100%;
  position: relative;
  border-radius: 60px 60px 0 0;
}

.footerGrid {
  flex-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  justify-content: space-between;
  display: flex;
  gap: 100px;
  padding: var(--section-space-small);
}

.footerTopFlex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerSocial {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.footerHeading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: var(--title-fontsize);
  line-height: 0.8em;
  color: var(--black-color);
  text-transform: uppercase;
  align-items: center;
}

.footerTalk {
  position: relative;
  background: var(--white-bg);
  height: 40px;
  color: var(--black-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
  line-height: 1;
  padding: 0 20px;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 300px;
  z-index: 20;
}

.socialFlex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.socialBtn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
  line-height: 1;
  border-radius: 300px;
  width: var(--btn-size);
  font-size: 1.2rem;
  color: var(--white-text);
  z-index: 20;
  height: var(--btn-size);
  background: var(--black-bg);
  transition: all 0.2s ease;
}

.footerbtnTop {
  position: relative;
  font-weight: 600;
  z-index: 20;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--black-color);
  gap: 10px;
}

.footerBottom {
  position: relative;
  background: var(--black-bg);
  border-radius: 60px 60px 0 0;
  padding: 40px 0;
  width: 100%;
}

.footerBottomFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.footerDesigner {
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  color: var(--white-text);
}

.footerDesigner span {
  text-decoration: underline;
}

.footerList {
  display: flex;
  align-items: center;
  position: relative;
  gap: 30px;
}

.footerItem {
  position: relative;
}

.footerLink {
  position: relative;
  font-weight: 600;
  z-index: 20;
  color: var(--white-text);
  font-size: 1rem;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .footerTopFlex {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .footerGrid {
    min-height: auto;
    gap: 50px;
  }

  .footerBottomFlex {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footerGrid {
    gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .footerGrid {
    min-height: auto;
    gap: 100px;
  }
}
