.experienceSection {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding: var(--section-space);
  width: 100%;
}

.experienceArea {
  position: relative;
  padding: var(--content-top-space);
}
