/* ===============================
   MAZIUS DISPLAY FONT
================================ */

@font-face {
  font-family: "Mazius Display";
  src: url("/fonts/MaziusDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("/fonts/MaziusDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("/fonts/MaziusDisplay-ExtraItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("/fonts/MaziusDisplay-ExtraItalicBold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Thin */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Creato Display";
  src: url("/fonts/CreatoDisplay-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* btn */
  --btn-size: 45px;

  /* space */
  --section-space: 200px 0;
  --section-space-top: 200px 0 0;
  --section-space-small: 100px 0;
  --content-top-space: 80px 0 0;

  /* bg */
  --black-bg: #0f0f0f;
  --white-bg: #eee;

  /* color */
  --black-text: #0f0f0f;
  --white-text: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4em;
  background: var(--white-bg);
  font-family: "Creato Display", sans-serif;
  color: var(--black-text);
  overflow-wrap: break-word;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(16px, 3vw, 80px);
  padding-right: clamp(16px, 3vw, 80px);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}
h1 {
  font-size: 16vw;
  line-height: 0.9em;
  font-weight: 500;
  font-family: "Creato Display", sans-serif;
  color: var(--black-text);
}
h2 {
  font-size: 10rem;
  font-weight: 500;
  line-height: 0.9em;
  font-family: "Creato Display", sans-serif;
  color: var(--black-text);
}
h3 {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1em;
  font-family: "Creato Display", sans-serif;
  color: var(--black-text);
}
h4 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1em;
  font-family: "Creato Display", sans-serif;
  color: var(--black-text);
}
h5 {
  font-size: 3rem;
  font-family: "Creato Display", sans-serif;
  font-weight: 500;
  line-height: 1.2em;
}
h6 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Creato Display", sans-serif;
  line-height: 1.2em;
}

.headingMain {
  position: relative;
  max-width: 700px;
  z-index: 30;
}

.headingMainBox {
  position: relative;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

.headingMainPara {
  position: relative;
  max-width: 350px;
  justify-self: center;
}

@media (max-width: 767.98px) {
  :root {
    /* space */
    --section-space: 140px 0;
    --section-space-top: 140px 0 0;
    --section-space-small: 80px 0;
    --content-top-space: 40px 0 0;
  }

  .lines-pattern {
    display: none;
  }

  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
  }

  .headingMainBox {
    grid-template-columns: 1fr;
  }

  .headingMainPara {
    justify-self: start;
  }

  .headingMain {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  :root {
    /* space */
    --section-space: 140px 0;
    --section-space-top: 140px 0 0;
    --section-space-small: 100px 0;
    --content-top-space: 70px 0 0;
  }

  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 7rem;
  }
  h3 {
    font-size: 5rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1rem;
  }

  .headingMainBox {
    grid-template-columns: 1fr;
  }

  .headingMainPara {
    justify-self: start;
  }

  .headingMain {
    max-width: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  :root {
    /* space */
    --section-space: 200px 0;
    --section-space-top: 200px 0 0;
    --section-space-small: 100px 0;
    --content-top-space: 80px 0 0;
  }

  h1 {
    font-size: 11rem;
  }
  h2 {
    font-size: 9rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  :root {
    /* space */
    --section-space: 200px 0;
    --section-space-top: 200px 0 0;
    --section-space-small: 100px 0;
    --content-top-space: 80px 0 0;
  }

  h1 {
    font-size: 14rem;
  }
  h2 {
    font-size: 10rem;
  }
  h3 {
    font-size: 8rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}
