@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Mazius Display";
  src: url("./assets/fonts/MaziusDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("./assets/fonts/MaziusDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("./assets/fonts/MaziusDisplay-ExtraItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mazius Display";
  src: url("./assets/fonts/MaziusDisplay-ExtraItalicBold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  /* btn */
  --btn-size: 50px;

  /* space */
  --section-space: 200px 0;
  --section-space-small: 100px 0;
  --content-top-space: 100px 0 0;

  /* bg */
  --black-bg: #0f0f0f;
  --white-bg: #eee;

  /* color */
  --black-text: #0f0f0f;
  --white-text: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1em;
  background: var(--white-bg);
  font-family: "Geist Mono", monospace;
  color: var(--black-text);
  overflow-wrap: break-word;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(16px, 3vw, 64px);
  padding-right: clamp(16px, 3vw, 64px);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
h1 {
  font-size: 18rem;
  line-height: 0.9em;
  font-weight: 500;
  font-family: "Mazius Display", serif;
  font-style: italic;
  color: var(--black-text);
}
h2 {
  font-size: 10rem;
  font-weight: 500;
  line-height: 0.9em;
  font-family: "Mazius Display", serif;
  font-style: italic;
  color: var(--black-text);
}
h3 {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1em;
  font-family: "Mazius Display", serif;
  font-style: italic;
  color: var(--black-text);
}
h4 {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1em;
}
h5 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
}
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1em;
}

/* line area*/

.lines-pattern {
  opacity: 0.12;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  inset: 0%;
}

.line-pattern {
  border-right: 1px solid var(--white-text);
  width: 20%;
  height: 100%;
}

.headingMain {
  position: relative;
  z-index: 30;
}

@media (max-width: 767.98px) {
  :root {
    /* space */
    --section-space: 140px 0;
    --section-space-small: 80px 0;
    --content-top-space: 40px 0 0;
  }

  .lines-pattern {
    display: none;
  }

  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  :root {
    /* space */
    --section-space: 140px 0;
    --section-space-small: 100px 0;
    --content-top-space: 70px 0 0;
  }

  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 7rem;
  }
  h3 {
    font-size: 5rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1rem;
  }

  .line-pattern {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  :root {
    /* space */
    --section-space: 200px 0;
    --section-space-small: 100px 0;
    --content-top-space: 80px 0 0;
  }

  h1 {
    font-size: 12rem;
  }
  h2 {
    font-size: 9rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) and (max-width: 1599.98px) {
  :root {
    /* space */
    --section-space: 200px 0;
    --section-space-small: 100px 0;
    --content-top-space: 80px 0 0;
  }

  h1 {
    font-size: 13rem;
  }
  h2 {
    font-size: 10rem;
  }
  h3 {
    font-size: 8rem;
  }
  h4 {
    font-size: 5rem;
  }
  h5 {
    font-size: 2.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}
